@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    margin: 15px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2545.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699401600&semt=ais );
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed ;
}

header {
    background-color: orange;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    text-decoration-line: underline;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

#home {
    background-color: #f2f2f2;
    background: transparent;
    margin: auto;
    text-align: center;

}
.main1 img{ 
    border-radius: 70%;
    position: relative;
  
    
    
}

.lang{
    color: orangered;
}



.scard{
    display:inline-block;
    width:110px;
    text-align: center;
    background-color: rgb(97, 191, 206);
    border-radius: 10px;
    margin-right: 5%;
}
.scard:hover{
    scale:110%;
    background-color: #f9b572;
}



.project {
    margin-bottom: 20px;
}

.scard2{
    display:inline-block;
    width:40%;
    text-align: center;
    background-color: purple;
    border-radius: 10px;
    margin-right: 5%;
}
.scard2:hover{
    scale:110%;
    background-color: yellowgreen;
}
.foot{
    display: inline-block;
    text-size-adjust: 25%;
    
    
}
.logo{
    margin: 5px;
    position:relative;
    left: 400px;
}
